body {
  text-align: center;
  font-family: Helvetica;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
nav a {
  font-size: 18px;
  color: white;
}
.head {
  background-image: url(../images/the-flatiron-building.png);
}
h4 {
  color: white;
}
